*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial, sans-serif;
}
header{
  display:flex;
  /* justify-content:space-between;
  align-items:center; */
  flex-direction: row;
  
  height:50px;
  background-color: #e9e5ed;
}
nav ul{
    display: flex;
    gap:30px;
    list-style: none;
  
}
  a{
    text-decoration: none;
  }
    
.nav > a{
  background:#2563eb;
  color:white;
  padding:10px 18px;
  border-radius:8px;
  /* text-decoration:none; */
  margin-left: 100px;
   
 
}
header h1{
    margin-right: 200px;
    margin-left: 50px;
    margin-top: 10px;
}
.nav{
    display: flex;
    align-items:center;
  gap:30px; 
}
#login{
    margin-left: 300px;
}

ul li a{
     color: black;
}
